body {
    background-color: #f4f4f4;
    font-family: "Arial", sans-serif;
    text-align: center;
    color: #333;
    -webkit-user-select: none;
    user-select: none;
}

#player {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

td {
    z-index: 0;
    border: 2px solid #ddd;
    text-align: center;
    vertical-align: middle;
    transition: transform 0.2s ease, background-color 0.3s ease;
    cursor: pointer;
    font-size: 2em;
    font-weight: bold;
    color: #333;
}

td[id] {
    width: 4em;
    height: 4em;
    perspective: 1500;
}

td:not([id]) {
    width: 5em;
    height: 5em;
}

td img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 10;
}

td:hover {
    transform: scale(1.05);
    /*background-color: #e0e0e0;*/
}

td:not([id]):hover{
    background-color: #e0e0e0;
}

tr {
    background-color: #f9f9f9;
}

table {
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 50px auto; /* Zentriert die Tabelle */
}

#tictactoe {
    margin: auto;
    position: relative;
    top: 50px;
}

button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 1.5em;
    margin-bottom: 1em;
    background-color: #1162ca;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #083d81;
}


/*Flip-effect*/
.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.7s;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
}

.front {
    /*background-image: url('background3.jpg');
    background-size: cover; 
    background-position: center;*/
    background-color: #1c74e7;
    border-radius: 8px;
}

.back {
    transform: rotateY(180deg);
    display: flex;
    align-items: center;
}